 
*{
    margin:0;
    padding:0;
}

body{
    overflow-x: hidden;
}

html{
    scroll-behavior: smooth;
}

body::-webkit-scrollbar{
    width:10px;
}

body::-webkit-scrollbar-track{
    background: black;
}

body::-webkit-scrollbar-thumb{
    background-color:orange;
}

@keyframes initialLoad{
    0%{
        opacity:0.3;
    }

    100%{
        opacity:1;
    }
}

.landingContainer{
    background-image:   linear-gradient(
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)
      ),url('./assets/VirusCover.jpg');
    background-size: cover;
    background-position: top;
    font-family: 'Lato', sans-serif;
    color:white;
    height:100vh;
    font-size: 1.5rem;
    position: relative;
    animation: initialLoad 2s;
}

.arrow{
    position:absolute;
    top:70%;
    left:46%;
    transform: translate(-50%, -50%);
    animation: bounce 3s infinite;
    cursor:pointer;
}

i{
    color:white;
}

.Prompts{
    position: relative;
    top:35%;
}

.info, .title{
    text-align: center;
}

.info{
    letter-spacing: 5px;
}

.title{
    letter-spacing: 15px;
    font-size: 5rem;
}

@keyframes bounce{
    0%{
        transform:translateY(0)
    }

   40%{
       transform:translateY(-8px)
   }

   80%{
       transform: translateY(8px);
   }

   100%{
       transform: translateY(0);
   }
}

.directiveContainer{
    height:100vh;
    width:100vw;
    background-color: #0984e3;
    font-family: 'Lato', sans-serif;
    position:relative;
}
 #directives{
     text-align: center;
     font-size:5rem;
     letter-spacing: 10px;
     margin-bottom:5px;
 }

 .tips{
     position:absolute;
     left:5vw;
 }

 .tipList{
     font-size:2rem;
 }

 .maskImg{
     max-width: 100%;
     height:auto;
     display:block;
     position:relative;
     left:73%;
 }

 .directiveArrow i{
     color:black;
 }

 .tip1, .tip2, .tip3, .tip4{
     margin-bottom:20px;
 }


.howContainer{
    width:100vw;
    height:100vh;
}

.sourceLink{
    color:black;
}

.howContainer{
    position:relative;
    font-family: 'Lato',sans-serif;
    color:#db6400;
    background-color: #ccc;
}

.infoHeader{
    text-align: center;
    font-size:4rem;
    letter-spacing: 10px;
}

.description{
    font-size:2rem;
}

/* .APIlogo{
    position: relative;
    left:15%;
    bottom:5%;
} */

.toolImages{
    display: flex;
    flex-direction: row;
}

.APIlogo{
    margin-left:10vw;
}

.infoArrow i{
    color:#db6400;
}

.selectorContainer{
    width:100vw;
    height:100vh;
    position: relative;
}

.makeChart{
    width:100%;
    height:5%;
    background: transparent;
    color:#db6400;
    font-family:'Lato',sans-serif;
    font-size: 1.5rem;
    position:relative;
    left:25%;
}

.chartForm{
    position:absolute;
    left:50%;
    top:15%;
    transform: translateX(-50%);
    display:flex;
    flex-direction: column;
}

.country{
    border:1px solid black;
}




