*{
    margin:0;
    padding:0;
}

body{
    overflow-x: hidden;
    animation: initialLoad 2s;
}

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

/*Scrollbar Code*/

body::-webkit-scrollbar{
    width:10px;
}

body::-webkit-scrollbar-track{
    background: black;
}

body::-webkit-scrollbar-thumb{
    background-color:#ccc;
}

/*Animations: initial opacity blink load and arrow bounce respectively */
@keyframes initialLoad{
    0%{
        opacity:0;
    }

    100%{
        opacity:1;
    }
}


@keyframes bounce{
    0%{
        transform:translateY(0)
    }

   40%{
       transform:translateY(-8px)
   }
   
   100%{
       transform: translateY(0);
   }
}
/* ***************** Here is the landing page ************ */
.landingContainer{
    background-color:orange;
    color:white;
    font-family: 'Lato', sans-serif;
    height:100vh;
    font-size: 1.5rem;
    position: relative;
}

.arrow{
    position:absolute;
    top:45%;
    left:46%;
    transform: translate(-50%, -50%);
    animation: bounce 3s infinite;
    cursor:pointer;
    color:white;
}

/* both the title and description on landing page */
.Prompts{
    position: relative;
    top:10%;
}

.info, .title{
    text-align: center;
}

.info{
    letter-spacing: 5px;
}

.title{
    letter-spacing: 15px;
    font-size: 5rem;
}

/* ************** The Charts page **********/

/*The full charts container*/
.selectorContainer{
    width:100vw;
    height:100vh;
    position: relative;
}

/* This is both selects and the scale input*/
#countrySelectors{
    display:flex;
    flex-direction:column;
}

/* button to make charts*/

.makeChart{
    height:5%;
    background: transparent;
    color:#db6400;
    font-family:'Lato',sans-serif;
    font-size: 1.5rem;
    position:relative;
    right:10vw;
    margin-left:15vw;
    cursor:pointer;
    transition:color 1s, background 1s, box-shadow 1s;
    width:20vw;
}

.makeChart:hover{
    color:white;
    background: #db6400;
    box-shadow:2px 7px 7px 1px #000000;
}

.chartForm{
    position:absolute;
    left:50%;
    top:10%;
    transform: translateX(-50%);
    display:flex;
    flex-direction: row;
}

.country,#scaleMax{
    border:1px solid black;
    font-family:'Lato',sans-serif;
    color:#db6400;
    font-size:1rem;
}

#country2{
    margin-top:2vh;
}

.chartsContainer{
    position:relative;
    display:flex;
    flex-direction: row;
    left:15vw;
    top:30vh;
    cursor:pointer;
}

.chart1Container{
    width:35vw;
    position:absolute;
}

.chart2Container{
    position: absolute;
    left:40vw;
    width:35vw;
}

#scaleMax{
    font-family: 'Lato',sans-serif;
    margin-top:2vh;
}

::placeholder{
    color:#db6400;
    font-family: 'Lato',sans-serif;
}

#hoverDirective{
    position: absolute;
    bottom:2vh;
    left:50%;
    transform: translateX(-50%);
    font-family: 'Lato',sans-serif;
    font-size: 1rem;
}

/*responsive: media queries*/


@media only screen and (max-width:806px){
    .title{
        font-size: 5rem;
    }

    .makeChart{
        width:15vw;
        font-size:1.5rem;
    }
}

@media only screen and (max-width:750px){
    .info{
        font-size: 1rem;
    }

    .arrow{
        position:absolute;
        left:45%;
    }
}

@media only screen and (max-width:660px){
    .title{
        font-size:4rem;
    }

    .chartsContainer{
        display: flex;
        flex-direction: column;
    }

    .chart2Container{
        top:60vh;
        width: 80%;
        left:-10vw;
    }

    .chart1Container{
        width: 80%;
        right:30vw;
    }

    .selectorContainer{
        height:200vh;
    }

    .chartForm{
        position: absolute;
        top:10vh;
    }

    #hoverDirective{
        position:absolute;
        bottom:50vh;
    }
}

@media only screen and (max-width:582px){
    .title{
        font-size:3rem;
    }

    .info{
        font-size: 1rem;
        margin-top:1vh;
    }

    .makeChart{
        width:20vw;
    }

    .chartForm{
        width:10vw;
        position: absolute;
        left:10vw;
    }
}

@media only screen and (max-width:512px){
    .arrow{
        left:45%;
        font-size:1rem;
    }   
}

@media only screen and (max-width:474px){
    .title{
        font-size: 2rem;
    }

    .info{
        font-size: 1rem;
    }

    .landingContainer{
        position: relative;
    }

    .Prompts{
        position:absolute;
        top:30vh;
        left:5vw;
    }

    .arrow{
        font-size:1rem;
        position:absolute;
        top:30vh;
    }

    .chartForm{
        position: relative;
    }

    #countrySelectors{
        position: relative;
        right:2vw;
    }

    .chart2Container{
        top:50vh;
    }

    .makeChart{
        width:50vw;
        position:absolute;
        left:5vw;
        top:20vh;
        height:8vh;
    }

    #hoverDirective{
        position: absolute;
        top:0;
        left:60vw;
        width:100%;
        height:30px;
        font-size: 1rem;
    }
}

@media only screen and (max-width:366px){
    .country{
        width:60vw;
    }

    #countrySelectors{
        position: relative;
        left:10vw;
    }

    #hoverDirective{
        left:50vw;
        word-break: normal;
    }
}








